@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Spartan";
  src: url("fonts/LeagueSpartan-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Antonio";
  src: url("fonts/Antonio-VariableFont_wght.ttf") format ("truetype");
}

h1,
h2 {
  font-family: "Antonio", sans-serif;
}

body,
h3,
h4 {
  font-family: "Spartan", sans-serif;
}

@layer components {
  .h2 {
    @apply text-[2.5rem] uppercase font-semibold;
  }

  .card-title {
    @apply uppercase text-xs text-planetGray-300 font-bold;
  }

  .button-number {
    @apply hidden md:block text-white opacity-50;
  }
}
